{% load staticfiles %}

<html ng-app="myApp">
<head>
<link rel="stylesheet" type="text/css" href="/static/vendors/bootstrap/dist/css/bootstrap.min.css">
<script src="/static/vendors/angular/angular.min.js"></script>
<script src="/static/vendors/angular/angular-route.js"></script>
<script src="/static/vendors/angular/myangular.js"></script>
</head>
<body>
<div ng-view></div>
</body>
</html>