{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/vendors/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="{% block ng_app %}JobApp{% endblock %}">
<div class="content" ng-controller="{% block ng_controller %}AppController{% endblock %}">
{% block content %}
	{% verbatim %}
    <div class="panel" ng-repeat="post in posts">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">{{ post.title }}</h3>
            <author class="pull-right">{{ post.author.username }}</author>
        </div>
        <p class="well">{{ post.body }}</p>
    </div>
	{% endverbatim %}
{% endblock %}</div>
<script src="/static/vendors/angular/angular.min.js"></script>
<script src="/static/vendors/javascript/script2.js"></script>
</body>
</html>