{% load staticfiles %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/vendors/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="myApp">
<div class="content" ng-controller="{% block ng_controller %}AppController{% endblock %}">
{% block content %}
	{% verbatim %}
	    <div class="panel" ng-repeat="post in disk-performance">
	        <div class="panel-heading clearfix">
	            <h3 class="panel-title">{{ post.project_name }}</h3>
	            <author class="pull-right">{{ post.memory }}</author>
	        </div>
	        <p class="well">{{ post.disk }}</p>
	    </div>
	{% endverbatim %}
{% endblock %}</div>
<script src="/static/vendors/angular/angular.min.js"></script>
<script src="/static/vendors/angular/angular-route.js"></script>
<script src="/static/vendors/javascript/script2.js"></script>
</body>
</html>